contourpy==1.2.0 ; python_version >= "3.10" and python_version < "4.0"
cycler==0.12.1 ; python_version >= "3.10" and python_version < "4.0"
fonttools==4.50.0 ; python_version >= "3.10" and python_version < "4.0"
kiwisolver==1.4.5 ; python_version >= "3.10" and python_version < "4.0"
llvmlite==0.42.0 ; python_version >= "3.10" and python_version < "4.0"
matplotlib==3.8.3 ; python_version >= "3.10" and python_version < "4.0"
numba==0.59.0 ; python_version >= "3.10" and python_version < "4.0"
numpy==1.26.4 ; python_version >= "3.10" and python_version < "4.0"
opencv-python==4.9.0.80 ; python_version >= "3.10" and python_version < "4.0"
packaging==24.0 ; python_version >= "3.10" and python_version < "4.0"
pillow==10.2.0 ; python_version >= "3.10" and python_version < "4.0"
pyparsing==3.1.2 ; python_version >= "3.10" and python_version < "4.0"
pyqt6-qt6==6.6.2 ; python_version >= "3.10" and python_version < "4.0"
pyqt6-sip==13.6.0 ; python_version >= "3.10" and python_version < "4.0"
pyqt6==6.6.1 ; python_version >= "3.10" and python_version < "4.0"
python-dateutil==2.9.0.post0 ; python_version >= "3.10" and python_version < "4.0"
pyyaml==6.0.1 ; python_version >= "3.10" and python_version < "4.0"
six==1.16.0 ; python_version >= "3.10" and python_version < "4.0"
uuid==1.30 ; python_version >= "3.10" and python_version < "4.0"
ximea-py==4.27.2.3 ; python_version >= "3.10" and python_version < "4.0"
