[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "==1.26.4"
opencv-python = "==4.9.0.80"
pyyaml = "==6.0.1"
uuid = "==1.30"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.2"
